<div class="headerComponent">
    <div class="headerLogo">
        <a routerLink="/"><img src="/assets/logo.png" alt=""></a>
    </div>
    <div class="headerEnlaces">
        <div class="headerEnlacesIndividuales">
            <a routerLink="promocion"  class="enlaceContactanos">
                Promoción
            </a>
        </div>
        <div class="headerEnlacesIndividuales">    
            <a href="https://wa.me/5491159230699?text=Vengo%20a%20consultar%20una%20remesa%20!">
                <img src="/assets/whatsapp.png" alt="">
            </a>
        </div>
        <div class="headerEnlacesIndividuales">    
            <a href="https://www.instagram.com/julioperez96_/?hl=es-la">
                <img src="/assets/instagram.png" alt="">
            </a>
        </div>
        <div class="headerEnlacesIndividuales">    
            <a href="https://www.facebook.com/profile.php?id=1227615902">
                <img src="/assets/facebook.png" alt="">
            </a>
        </div>
    </div>
</div>
